{{#each posts}}
<div class="uk-card uk-card-default uk-width-1-2@m uk-margin">
		<div class="uk-card uk-card-default">
			<div class="uk-card-media-top">
				<img src="{{this.pImage}}" alt="">
			</div>
		</div>
	<div class="uk-card-header">
		<div class="uk-grid-small uk-flex-middle" uk-grid>
			<div class="uk-width-auto">
				<img class="uk-border-circle" width="40" height="40" src="{{this.pAuthor.image}}">
			</div>
			<div class="uk-width-expand">
				<h3 class="uk-card-title uk-margin">{{this.pTitle}}</h3>
				<p class="uk-text-meta uk-margin-remove-bottom">From: {{this.pAuthor.firstName}} {{this.pAuthor.lastName}}</p>
				<p class="uk-text-meta uk-margin-remove-top"><time{{!-- datetime="2016-04-01T19:00" --}}>{{this.createdAt}}</time></p>
			</div>
		</div>
	</div>
	{{#if this.pDescription}}
	<div class="uk-card-body">
		<p>{{this.pDescription}}</p>
	</div>
	{{/if}}
	<div class="uk-card-footer">
		<a href="/posts/{{this._id}}" class="uk-button uk-button-text">Read more</a>
	</div>
</div>
{{/each}}