<article class="uk-article">

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{postItem.pTitle}}</a></h1>

    <p class="uk-article-meta">Written by <a href="#">{{postItem.pAuthor.firstName}} {{postItem.pAuthor.lastName}}</a> on {{postItem.createdAt}} <a href="#">Blog</a></p>

    <p class="uk-text-lead">PHRASE D ACCROCHE ???</p>

    <p>{{postItem.pBody}}</p>

    <div class="uk-grid-small uk-child-width-auto" uk-grid>
        
        <div>
            <a class="uk-button uk-button-text" href="#">5 Comments</a>
            <a class="uk-button uk-button-text" href="#">Add a Comment</a>
           
            <a href="/posts/{{postItem._id}}/edit" uk-icon="icon: file-edit">Edit your post </a>
           
        </div>
    </div>

</article>