<div class="uk-container uk-container-small">
{{!-- EXTERNAL WRAPPING DIV --}}






{{!------------------------------------------------------------------}}
{{!-- ADMIN/ NOT ADMIN --}}
{{!------------------------------------------------------------------}}
{{#if userIsLogged}}
You are logged as {{user.firstName}} ||
{{else}}
You are not logged ||
{{/if}}

{{#if userIsAdmin}}
You are admin
{{else}}
You are not admin
{{/if}}



{{!------------------------------------------------------------------}}
{{!-- POST SECTION --}}
{{!------------------------------------------------------------------}}
<article class="uk-article">
	<h1 class="uk-article-title"><a class="uk-link-reset" href="">{{postItem.pTitle}}</a></h1>
	<p class="uk-article-meta">Written by <a href="#">{{postItem.pAuthor.firstName}} {{postItem.pAuthor.lastName}}</a> on {{postItem.createdAt}} <a href="#">Blog</a></p>
	<p class="uk-text-lead">{{{postItem.pDescription}}}</p>
	<p>{{{postItem.pBody}}}</p>
</article>



{{!------------------------------------------------------------------}}
{{!-- BUTTONS DELETE / UPDATE POST --}}
{{!------------------------------------------------------------------}}
{{#if userIsAdmin}}
user is admin
<p uk-margin>
	<a href="/posts/{{postItem._id}}/edit" class="uk-button uk-button-primary">Edit</a>
	<a href="/posts/{{postItem._id}}/delete" class="uk-button uk-button-danger">Delete</a>
</p>
{{else}}
user is not admin
{{/if}}



{{!------------------------------------------------------------------}}
{{!-- HOW MANY COMMENTS --}}
{{!------------------------------------------------------------------}}
<div class="uk-grid-small uk-child-width-auto uk-margin" uk-grid>
	<div>
		<a class="uk-button uk-button-text" href="#comments-container">{{postItem.pComments.length}} comments</a>
	</div>
</div>



{{!------------------------------------------------------------------}}
{{!-- ADMIN/ NOT ADMIN --}}
{{!------------------------------------------------------------------}}
{{#if postItem.pComments}}
		<div class="uk-container uk-container-small uk-margin" id="comments-container">
		{{#each postItem.pComments}}
		<article class="uk-comment uk-comment-primary">
		<header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
				<div class="uk-width-auto">
						<img class="uk-comment-avatar" src="{{ this.cAuthor.image }}" width="80" height="80" alt="">
				</div>
				<div class="uk-width-expand">
						<h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{ this.cAuthor.firstName }}</a></h4>
						<ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
								<li><a href="#">{{ this.cDate }}</a></li>
						</ul>
				</div>
		</header>
		<div class="uk-comment-body">
				<p>{{this.cBody}}</p>
		</div>
		</article>

		{{/each}}
	</div>
{{else}}
No comments yet
{{/if}}

{{#if userIsLogged}}
user is logged
{{!-- START OF ADD COMMENTS SECTION --}}
<form action="{{postItem.id}}/process-comment" method="POST">
	<fieldset class="uk-fieldset">
			<legend class="uk-legend">Add A Comment</legend>
			<div class="uk-margin" >
					<textarea  name="commentBody" class="uk-textarea" rows="5" placeholder="Write Your Comment Here..."></textarea>
			</div>
	<p uk-margin>
		<button class="uk-button uk-button-secondary">Add Comment</button>
	</p>
	</fieldset>
</form>
{{!-- END OF COMMENTS SECTION --}}
{{else}}
{{/if}}






{{!-- EXTERNAL WRAPPING DIV --}}
</div>